.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    font-family: 'Outfit', sans-serif;
    justify-content: flex-end;
}

html {
    background-color: hsl(212, 45%, 89%);
}

.card {
    background-color: hsl(0, 0%, 100%);
}





@media (min-width: 1440px) {
    body {
        padding-top: 200px;
        font-family: 'Outfit', sans-serif;
        text-align: center;
    }

    footer {
        margin-top: 10%;
    }

    .card {
        width: 15%;
        margin: auto;
        padding: 16px;
        border-radius: 24px;
    }

    img {
        width: 100%;
        border-radius: 16px;
    }

    h1 {
        font-size: 22px;
        font-weight: 700;
        text-align: center;
        padding: 4px;
        line-height: 30px;
        color: hsl(218, 44%, 22%);
    }
    
    p {
        font-size: 15px;
        padding: 12px;
        color: hsl(220, 15%, 55%);
        line-height: 20px;
        font-weight: 400;
        letter-spacing: 0.5px;
    }

}

@media (max-width: 376px) {
    body {
        margin-top: 20%
    }
    .card {
        width: 85%;
        margin: auto;
        padding: 1em;
        border-radius: 24px;
    }

    img {
        width: 100%;
        border-radius: 16px;
    }

    h1 {
        font-size: 22px;
        font-weight: 700;
        text-align: center;
        padding: 4px;
        line-height: 30px;
        color: hsl(218, 44%, 22%);
    }
    
    p {
        font-size: 15px;
        padding: 12px;
        padding-top: 0px;
        color: hsl(220, 15%, 55%);
        line-height: 20px;
        font-weight: 400;
        text-align: center;
        letter-spacing: 0.5px;
    }

    footer {
        margin-top: 30%;
    }

}
